<% layout('layout/boilerplate') -%>
<div class="row mt-3">
<div class="col-md-6 offset-md-3 mt-4">
    <br>
    <h3>Create New Listing</h3>
    <br>
   <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
       <label for="title" class="form-label">Title</label>
       <input type="text" name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
       <div class="valid-feedback">Title looks good!</div>
       <div class="invalid-feedback">Enter a valid title</div>
    </div>
    <div class="mb-3">
         <label for="description" class="form-label">Description</label>
         <input type="text" name="listing[description]" placeholder="Description" class="form-control" required>
         <div class="invalid-feedback">Please enter a short description </div>
    </div>
    <div class="mb-3">
         <label for="image" class="form-label">Upload Image</label>
       <input  type="file" name="listing[image]" class="form-control" >
    </div>
    <%- include("_categoryDropdown", { listing: null, categories }) %>

    
       <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
       <input  name="listing[price]" placeholder="1200" class="form-control"required>
       <div class="invalid-feedback">Price should be valid</div>
       </div>
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
       <input type="text" name="listing[country]" placeholder="India" class="form-control"required>
       <div class="invalid-feedback">Country should be valid</div>
            </div>
       </div>
       <div class="mb-3">
            <label for="location" class="form-label">Location</label>
<input 
  type="text" 
  id="location"
  name="listing[location]" 
  placeholder="Jaipur, Rajasthan" 
  class="form-control" required>
  <div class="invalid-feedback">Location should be valid</div>
         </div>
    <br>
       <button class="btn btn-dark add-btn mt-3">Add</button>
   </form>
</div>
</div>